html{
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
}
.navbar{
    margin-bottom: 60px;
    background-color: #143C5C;
    color: white;
}
h1{
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}
.meetupFlex{
    display: flex;
    justify-content: space-around;
    background-color: #ECF5FB;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.meetup{
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 8px;
}
.h1meetup{
    background-color: #ECF5FB;
    text-align: center;
    /* color: #143C5C; */
    background-color: #143C5C;
    color: white;
    font-size: 24px;
    padding: 6px;
    border-bottom: #143C5C 1px dotted;
    /* font-style: italic; */
    border-radius: 20px 0 0 0;
    font-family: 'Montserrat Alternates', sans-serif;

}
.addMeetup{
    width: 25%;
    padding-top: 30px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #ECF5FB;
    border-radius: 20px 0;
    font-family: 'Montserrat Alternates', sans-serif;

}
.addTitle{
    color: #143C5C;
    background-color: #ECF5FB;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    font-weight: bold;
}
.input input{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 3px;
    color: grey;
}
.event_location{
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    margin-bottom: 3px;
    color: grey;
}

.buttonAdd{
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.buttonMeetup{
    background-color: #ECF5FB;
    border-radius: 10px;
    width: 60%;
    margin: 20px;
    height: 30px;
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #143C5C;
    color: white;
    font-weight: bold;
}
.buttonMeetup:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.buttonMeetups{
    display: flex;
}
.meetupForm{
    width: 60%;
}